// size
$header_height: 34px;
$toolbar_height: 40px;
$formula_height: 24px;
$info_cell_with: 40px;
$row_height: 24px;
$cell_width: 120px;
//
$db_header_height: 64px;
// color
$border_color: #C0C0C0;
$primary-color: #3C74FF;

