@import "variables";
@import "mixins";
.excel__header{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px 0;
  background: aquamarine;
  .input{
    height: 20px;
    min-width: 1px;
    margin: 0;
    padding: 2px 7px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: solid 1px transparent;
    border-radius: 2px;
    outline: none;
    &:hover{
      border: solid 1px $border_color;
    }
    &:focus{
      border: 2px solid #1A73E8;
    }
  }
  .button{
    @include button(red);
  }
}
